<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <div class="container-fluid">

            <!-- Logo -->
            <a class="navbar-brand fw-bold" href="/home">
                ⚡ Domestic Energy
            </a>

            <!-- Bottone mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenuto navbar -->
            <div class="collapse navbar-collapse" id="navbarMain">

                <!-- Menu sinistra -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/consumi">Consumi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calcolo_elettrodomestico">Elettrodomestici</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eurostat">Statistiche</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/confronto">Confronto</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>